<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="stepdefinition.Launch_SD"/>
      <class name="stepdefinition.Registration_SD"/>
      <class name="stepdefinition.Login_SD"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
